/****************************************
            FONTS FAMILY
*****************************************/
$open-sans:'Open Sans', sans-serif;

/****************************************
	        FONT SIZES
*****************************************/
$l6:  .375rem;
$l7:  .438rem;
$l8:  .500rem;
$l9:  .563rem;
$l10: .625rem; //10px
$l11: .6875rem; //11px
$l12: .75rem; //12px
$l13: .8125rem; //13px
$l14: .875rem; //14px
$l15: .8824rem; //15px
$l16: 1rem; //16px
$l17: 1.0625rem;//17px
$l18: 1.125rem; //18px  
$l19: 1.1875rem; //19px  
$l20: 1.25rem; //20px
$l21: 1.312rem; //21px
$l22: 1.375rem; //22px
$l23: 1.4375rem; //23px
$l24: 1.467rem; //24px
$l25: 1.5625rem; //25px
$l26: 1.625rem; //26px
$l27: 1.6875rem; //27px
$l28: 1.75rem; //28px
$l30: 1.875rem; //30px
$l32: 2rem; //32px
$l34: 2.125rem; //34px
$l35: 2.1875rem; //35px
$l36: 2.25rem; //35px
$l40: 2.5rem;//40px
$l42: 2.625rem;//42px
$l50: 3.125rem;//50px
$l60: 3.75rem; //60px
$l64: 4rem; //64px
$l70: 4.375rem; //70px


/****************************************
            COLORS
*****************************************/
$azul:#2b3642;
$gris-claro:#f2f2f2;
$naranjo:#ec7700;
$gris-disabled:#bebebe;


/****************************************
            MEDIA QUERYS
*****************************************/
$movil: "(max-width: 575.98px)";

// Small devices (landscape phones, less than 768px)
$movil-landscape: "(max-width: 767.98px)";

// Medium devices (tablets, less than 992px)
$tablet: "(max-width: 991.98px)";

// Large devices (desktops, less than 1200px)
$desktop: "(max-width: 1199.98px)";